@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:700|Libre+Baskerville:400,400italic");

/* GLOBAL */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  max-width: var(--content-width);
}

/* HEADER */

header {
  /* background: rgba(219, 84, 38, 0.20); */
  background-color: var(--summerorange);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  min-width: var(--content-width);
}

.small-logo {
  height: 40px;
  object-fit: cover;
}

.icons {
  height: 38px;
}

@media (max-width: 1170px) {
  .small-logo {
    height: 38px;
  }
}


/* LOGO-GROUP */

.logo-group {
  min-width: var(--content-width);
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  /* width: 715px; */
  max-width: 60%;
  z-index: 2;
}

.tagline {
  margin-top: 4rem;
  letter-spacing: 0.20px;
  max-width: 50%;
}

.honeycomb {
  display: block;
  position: absolute;
  top: 16rem;
  right: calc((100% - var(--content-width)) / 2);
  z-index: -1;
}

@media (max-width: 1180px) {
  .honeycomb {
    height: 75%;
    top: 18rem;
  }
  .logo {
    max-width: 55%;
    align-self: center;
  }
}

@media (max-width: 1024px) {
  .honeycomb {
    height: 50%;
    top: 15rem;
  }
  .tagline {
    margin-top: 3rem;
    max-width: 60%;
  }
}

@media (max-width: 820px) {
  .honeycomb {
    display: none;
    background-color: brown;
  }
  .logo-group {
    align-items: center;
  } 
  .tagline {
    max-width: 90%;
  }
}

@media (max-width: 640px) {
}

/* LAB-GROUP */

.about-lab {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.maninlab {
  width: 475px;
}

.lab-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

 .title-2 {
  letter-spacing: 0.72px;
  text-align: center;
}

.text {
  max-width: 40rem;
}

@media (max-width: 1170px) {
  .about-lab {
    gap: 1rem;
  }
}

@media (max-width: 1024px) {
  .about-lab {
    flex-direction: column;
    margin-top: 3rem;
  }
  .maninlab {
    width: var(--content-width);
    height: 350px;
    object-fit: cover;
    object-position: 50% 25%;
  }
}

@media (max-width: 710px) {
  .maninlab {
    max-width: 100%;
  } 
}

@media (max-width: 640px) {
  .about-lab {
    margin-top: 2rem;
  }
}

/* PRODUCTS */

.products {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  width: 100%;
}

.products-title {
  text-align: center;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 315px;
}

.card-image {
  height: 315px;
  object-fit: cover;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card-text {
}

.card-description {
}

@media (max-width: 1024px) {
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .products {
    margin-top: 2rem;
  }
}

@media (max-width: 640px) {
  .products {
    margin-top: 2rem;
  }
}

/* ABOUT-FARM */

.about-farm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  width: 100%;
}


.maninfield {
  width: 100%;
}

.farm-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-4 {
  width: 80%;
}

@media (max-width: 1024px) {
  .about-farm {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  .maninfield {
    width: var(--content-width);
    height: 350px;
    object-fit: cover;
    object-position: 50% 25%;
  }

}

@media (max-width: 640px) {
  .text-4 {
    width: 100%;
    margin-top: 0;
  }
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  /* background-color: #db542699; */
  background-color: var(--summerorange);
  height: 220px;
  margin-top: 2rem;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: top;
  width: 100%;
  max-width: var(--content-width);
  gap: 2rem;
  padding-top: 1rem;
}

.footer-title {
  color: var(--beeblack);
  font-family: var(--font-family-libre_franklin);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.about-behave {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 50%;
}

.span1 {
  text-decoration: underline;
}

.line {
  line-height: 1.5;
}

@media (max-width: 650px) {
  .footer {
    height: 300px;
  }
}


